[submodule "jpeg"]
	path = jpeg
	url = https://github.com/buciuMT/jpeg
[submodule "imageSegmentation/dump/ImageSegmentation"]
	path = imageSegmentation/dump/ImageSegmentation
	url = https://github.com/buciuMT/ImageSegmentation
